In [19]:
print("Start python")

Start python

In [2]:
name = input("please enter your name : ")
print(name)

please enter your name : sahil amin buhrooo
sahil amin buhrooo

In [5]:
num1 = int(input("enter value of num1: "))
num2 = int(input("enter value of num2: "))
sum = num1 +num2 
print("the sum of num1 and num2 is "+ str(sum))

enter value of num1: 12
enter value of num2: 12
the sum of num1 and num2 is 24

In [18]:
Name= "sahil amin";
print(Name.upper()) 
print(Name.lower())
print(Name.find("amin"))
print(Name.replace("sahil","rashid"))
print("amin" in Name)
print(Name)

SAHIL AMIN
sahil amin
6
rashid amin
True
sahil amin

In [21]:
n1=int(input("entr val of n1 :"))
n2=int(input("entr val of n2 :"))
op= input("entr op :")
if op== "+":
    print(n1+n2)
elif op== "-":
    print(n1-n2)
elif op== "*":
    print(n1*n2)
elif op== "/":
    print(n1/n2)
elif op== "%":
    print(n1%n2)
else:
    print("maaf kar")

entr val of n1 :12
entr val of n2 :12
entr op :4
maaf kar

In [22]:
print(range(5))

range(0, 5)

In [27]:
i=1
while(i<=5):
    print(i*"*")
    i+=1
    
n=5
while(n>=0):
    print(n*"*")
    n-=1

*
**
***
****
*****
*****
****
***
**
*

In [40]:
Score=[99,98,97,96,95,94]
Score.insert(0,100)
print(Score)
for i in Score:
    print(i)
print(len(Score))

[100, 99, 98, 97, 96, 95, 94]
100
99
98
97
96
95
94
7

In [44]:
Students=["sahil","aqsa","basit","ubair"]
for name in Students:
    if name == "basit":
        continue   #break/continue
    print(name)

sahil
aqsa
ubair

In [52]:
tup=(21,22,23,24,25,26,27)
print(tup)
print(tup.count(24))
print(tup.index(23))
for f in tup:
    print(f)

(21, 22, 23, 24, 25, 26, 27)
1
2
21
22
23
24
25
26
27

In [57]:
st ={1,2,3,4,5,6,7,8,9}
for i  in st:
    print(i)

1
2
3
4
5
6
7
8
9

In [65]:
dic={"physics":22,"chemistry":23,"biology":24}
print(dic)
print(dic["physics"])
dic["jafer"]=99
print(dic)

{'physics': 22, 'chemistry': 23, 'biology': 24}
22
{'physics': 22, 'chemistry': 23, 'biology': 24, 'jafer': 99}

In [67]:

def cal(a,b):
    print(a+b)
cal(1,2)

3