In [1]:
import pandas as pd

In [2]:
s1=pd.Series([1,2,3,4,5,6,7])
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [3]:
s1=pd.Series([1,2,3,4,5,6,7],index=['a','b','c','d','e','f','g'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [4]:
s2=pd.Series({'a':10,'b':11,'c':13})
s2

a    10
b    11
c    13
dtype: int64

In [7]:
s1[3]
s1[5:]
s1[:5]

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s1=s1+1
s1

a    2
b    3
c    4
d    5
e    6
f    7
g    8
dtype: int64

In [11]:
ires = pd.DataFrame({'Name':['sahil','rahil','ahil'],'Marks':[99,98,97]},index=['a','b','c'])

In [15]:
ires

    Name  Marks
a  sahil     99
b  rahil     98
c   ahil     97